.main-container {
      background-color: rgba(246, 243, 248, 1);
      width: 80%;
      /* margin: auto; */
      padding: 5rem 3rem;
      .header-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .header-h1 {
        font-Weight: 600;
        color: rgba(31, 31, 32, 1);
        font-size: 32px;
        line-height: 46px;
        color: #1F1F20;
        margin-bottom: 1.5rem;
      }
    }
     @media (max-width: 1024px) {
    nav {
      .mobile__hamburger {
        display: block;
      }
    }
    main {
      aside#side-nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
      }
      // .main-container {
      //   width: 100%;
      // }
    }
  }
  
  @media (max-width: 768px) {
    // nav {
    //   padding: .5rem 1rem;
    // }

      .main-container {
        padding: 4rem 2rem;
        .header-div {
          flex-direction: column;
          align-items: flex-start !important;
        }
      }
    
  }
  
  @media (max-width: 640px) {
      .main-container {
        padding: 3rem 1rem;
      }
    
  }